*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';
}
body{
    background: #001e4d;
}
.container{
    background-color: antiquewhite;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0px;
    padding: 30px;
    border-radius: 15px;
}
.container h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding-bottom: 30px;
    color: peru;
}
.question{
padding: 20px 0;
}
.question h2{
    font-weight: 600;
    font-size: 25px;
    color: #222;
}
.btn{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; ;
}
#next{
    background: #001e4d;
    color: white;
    font-weight: 500;
    width:25% ;
    border: 1px solid #222;
    padding:10px ;
    margin: 10px auto 0px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
#result {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; /* Adjust margin to control spacing */
    text-align: center;
    font-weight: bold;
    display: none; /* Initially hidden */
  }
  